
<div class=" banner-buying">
    <div class=" container">
        <h3><span>blo</span>g</h3>
        <!---->
        <div class="menu-right">
            <ul class="menu">
                <li class="item1">
                    <a href="#"> Меню<i class="glyphicon glyphicon-menu-down"> </i> </a>
                    <ul class="cute">
                        <li class="subitem1"><a asp-controller="SaleHouses" asp-action="Index">Продажа </a></li>
                        <li class="subitem2"><a asp-controller="RentHouses" asp-action="Index">Аренда </a></li>
                        <li class="subitem2"><a asp-controller="CreditHouses" asp-action="Index">Жилищный кредит</a></li>
                        <li class="subitem3"><a asp-controller="SaleHouses" asp-action="Index">Квартиры </a></li>
                        <li class="subitem3"><a href="dealers.html">Агентство</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!--initiate accordion-->
        <script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });

			});
        </script>

    </div>
</div>
<!--//header-->
<!--blog-->
<div class="blog">
    <div class="container">
        <h3>Blog</h3>
        <div class="col-md-9 blog-head">
            <div class="blog-top">
                <a href="blog_single.html"><img src="images/bl.jpg" class="img-responsive" alt="" /></a>
                <h4><a href="blog_single.html">Blog Heading Here</a></h4>
                <h5>Posted By : <a href="blog_single.html">Ipsum</a> | Date : 03-03-2015</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, </p>
                <a class="hvr-sweep-to-right more" href="blog_single.html">Read More</a>
                <div class="links">
                    <ul class="blog-links">
                        <li><a href="#"><i class="blog_circle">24 </i><span>Comments</span></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-heart"> </i><span>Like</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="blog-top">
                <a href="blog_single.html"><img src="images/bl1.jpg" class="img-responsive" alt="" /></a>
                <h4><a href="blog_single.html">Blog Heading Here</a></h4>
                <h5>Posted By : <a href="blog_single.html">Ipsum</a> | Date : 03-03-2015</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, </p>
                <a class="hvr-sweep-to-right more" href="blog_single.html">Read More</a>
                <div class="links">
                    <ul class="blog-links">
                        <li><a href="#"><i class="blog_circle">24 </i><span>Comments</span></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-heart"> </i><span>Like</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="blog-top">
                <a href="blog_single.html"><img src="images/bl2.jpg" class="img-responsive" alt="" /></a>
                <h4><a href="blog_single.html">Blog Heading Here</a></h4>
                <h5>Posted By : <a href="blog_single.html">Ipsum</a> | Date : 03-03-2015</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, </p>
                <a class="hvr-sweep-to-right more" href="blog_single.html">Read More</a>
                <div class="links">
                    <ul class="blog-links">
                        <li><a href="#"><i class="blog_circle">24 </i><span>Comments</span></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-heart"> </i><span>Like</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 blog-sidebar">
            <div class="blog-list">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Lorem Ipsum is simply</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Contrary to popular belief</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>It is a long established</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>There are many variations</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Sed ut perspiciatis unde</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>But I must explain to you</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>At vero eos et accusamus</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>On the other hand</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Lorem Ipsum is simply</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Contrary to popular belief</a></li>
                </ul>

                <div class="clearfix"> </div>
            </div>
            <div class="blog-list">
                <h4>Archive</h4>
                <ul>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>July (15)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Oct (20)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>November (8)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>December (25)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>August (9)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>July (15)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>Oct (20)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>November (8)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>December (25)</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-arrow-right"> </i>August (9)</a></li>
                </ul>
            </div>
            <div class="blog-list1">
                <h4>Popular Posts</h4>
                <div class="blog-list-top">
                    <div class="blog-img">
                        <a href="blog_single.html"><img class="img-responsive" src="images/bo.jpg" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <p><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></p>
                        <span class="link">
                            Feb 14, 2015
                            <a href="#">
                                <i class="glyphicon glyphicon-heart"> </i>
                            </a>16
                        </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-list-top">
                    <div class="blog-img">
                        <a href="blog_single.html"><img class="img-responsive" src="images/bo1.jpg" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <p><a href="blog_single.html">Lorem ipsum dolor sit amet, consectetuer</a></p>
                        <span class="link">
                            Feb 14, 2015
                            <a href="#">
                                <i class="glyphicon glyphicon-heart"> </i>
                            </a>16
                        </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-list-top">
                    <div class="blog-img">
                        <a href="blog_single.html"><img class="img-responsive" src="images/bo2.jpg" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <p><a href="blog_single.html">Lorem ipsum dolor sit amet, consectetuer</a></p>
                        <span class="link">
                            Feb 14, 2015
                            <a href="#">
                                <i class="glyphicon glyphicon-heart"> </i>
                            </a>16
                        </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-list-top">
                    <div class="blog-img">
                        <a href="blog_single.html"><img class="img-responsive" src="images/bo3.jpg" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <p><a href="blog_single.html">Lorem ipsum dolor sit amet, consectetuer</a></p>
                        <span class="link">
                            Dec 14, 2013
                            <a href="#">
                                <i class="glyphicon glyphicon-heart"> </i>
                            </a>16
                        </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-list-top">
                    <div class="blog-img">
                        <a href="blog_single.html"><img class="img-responsive" src="images/bo4.jpg" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <p><a href="blog_single.html">Lorem ipsum dolor sit amet, consectetuer</a></p>
                        <span class="link">
                            Dec 14, 2013
                            <a href="#">
                                <i class="glyphicon glyphicon-heart"> </i>
                            </a>16
                        </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="blog-list2">
                <h4>Tags</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Html5</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Html5</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Logo</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
        <nav>
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<!--//blog-->