
<div class=" banner-buying">
    <div class=" container">
        <h3><span>Care</span>ers</h3>
        <!---->
        <div class="menu-right">
            <ul class="menu">
                <li class="item1">
                    <a href="#"> Меню<i class="glyphicon glyphicon-menu-down"> </i> </a>
                    <ul class="cute">
                        <li class="subitem1"><a asp-controller="SaleHouses" asp-action="Index">Продажа </a></li>
                        <li class="subitem2"><a asp-controller="RentHouses" asp-action="Index">Аренда </a></li>
                        <li class="subitem2"><a asp-controller="CreditHouses" asp-action="Index">Жилищный кредит</a></li>
                        <li class="subitem3"><a asp-controller="SaleHouses" asp-action="Index">Квартиры </a></li>
                        <li class="subitem3"><a href="dealers.html">Агентство</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!--initiate accordion-->
        <script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });

			});
        </script>

    </div>
</div>
<!--//header-->
<!--career-->
<div class="career">
    <div class="container">
        <h3>careers</h3>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        <h4>Job Responsibilities</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
        <h4>Qualifications / Skills Required</h4>
        <ul class="career-start">
            <li><a href="#"><i></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>
            <li><a href="#"><i></i>There are many variations of passages of Lorem Ipsum available.</a></li>
            <li><a href="#"><i></i>It is a long established fact that a reader will be distracted.</a></li>
            <li><a href="#"><i></i>Lorem Ipsum is simply dummy text of the printing.</a></li>
            <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
            <li><a href="#"><i></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>
            <li><a href="#"><i></i>There are many variations of passages of Lorem Ipsum available.</a></li>
            <li><a href="#"><i></i>It is a long established fact that a reader will be distracted.</a></li>
            <li><a href="#"><i></i>Lorem Ipsum is simply dummy text of the printing.</a></li>
            <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
            <li><a href="#"><i></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>
            <li><a href="#"><i></i>There are many variations of passages of Lorem Ipsum available.</a></li>
            <li><a href="#"><i></i>It is a long established fact that a reader will be distracted.</a></li>
            <li><a href="#"><i></i>Lorem Ipsum is simply dummy text of the printing.</a></li>
            <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
        </ul>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>


        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>


    </div>
</div>
<!--//career-->