
<div class=" header-right">
    <div class=" banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner1">
                            <div class="caption">
                                <h3><span>Продажа и аренда н</span>едвижимости</h3>
                                <p>Портал недвижимости</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner2">
                            <div class="caption">
                                <h3><span>Продажа и аренда н</span>едвижимости</h3>
                                <p>Портал недвижимости</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner3">
                            <div class="caption">
                                <h3><span>Продажа и аренда н</span>едвижимости</h3>
                                <p>Портал недвижимости</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--header-bottom-->
<div class="banner-bottom-top">
    <div class="container">
        <div class="bottom-header">
            <div class="header-bottom">
                <div class=" bottom-head">
                    <a asp-controller="SaleHouses" asp-action="Index" >
                        <div class="buy-media">
                            <i class="buy"> </i>
                            <h6>Купить</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a asp-controller="RentHouses" asp-action="Index" >
                        <div class="buy-media">
                            <i class="rent"> </i>
                            <h6>Арендовать</h6>
                        </div>
                    </a>
                </div>

                <div class=" bottom-head">
                    <a asp-controller="CreditHouses" asp-action="Index" >
                        <div class="buy-media">
                            <i class="loan"> </i>
                            <h6>Жилищный кредит</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a asp-controller="SaleHouses" asp-action="Index">
                        <div class="buy-media">
                            <i class="apart"> </i>
                            <h6>Квартиры</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="dealers.html">
                        <div class="buy-media">
                            <i class="deal"> </i>
                            <h6>Агенство</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="pg"> </i>
                            <h6>Хостелы</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="sell"> </i>
                            <h6>Карта</h6>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//-->
<!--//header-bottom-->
<!--//header-->
<!--content-->
<div class="content">
    <div class="content-grid">
        <div class="container">
            <h3>Самые популярные коттеджи</h3>
            <div class="col-md-4 box_2">
                <a asp-action="kot1" class="mask">
                    <img class="img-responsive zoom-img" src="~/images/kot1.jpg" alt="" style="height:300px; width:450px;">
                    <span class="four">90 млн тг</span>
                </a>
                <div class="most-1">
                    <h5><a asp-action="kot1" >5 комнатный, 49 м², 15 сот.</a></h5>
                    <p>Коттедж на берегу моря</p>
                </div>
            </div>
            <div class="col-md-4 box_2">
                <a asp-action="kot2"  class="mask">
                    <img class="img-responsive zoom-img" src="~/images/kot2.jpg" alt="" style="height:300px; width:450px;">
                    <span class="four">167 млн тг</span>
                </a>
                <div class="most-1">
                    <h5><a asp-action="kot2" >7 комнатный, 57 м², 20сот.</a></h5>
                    <p>Коттедж свежий ветер</p>
                </div>

            </div>
            <div class="col-md-4 box_2">
                <a asp-action="kot3"  class="mask">
                    <img class="img-responsive zoom-img" src="~/images/pc3.jpg" alt="" style="height:300px; width:450px;">
                    <span class="four">145 млн тг</span>
                </a>
                <div class="most-1">
                    <h5><a asp-action="kot3" >4 комнатный, 40 м², 12 сот.</a></h5>
                    <p>Коттедж на высокой горе</p>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--service-->
    <div class="services">
        <div class="container">
            <div class="service-top">
                <h3>Услуги</h3>
                <p>В проекте расмотрено 4 услуги</p>
            </div>
            <div class="services-grid">
                <div class="col-md-6 service-top1">
                    <div class=" ser-grid">
                        <a asp-controller="WrentHouses" asp-action="Contact" class="hi-icon hi-icon-archive glyphicon glyphicon-user"> </a>
                    </div>
                    <div class="ser-top">
                        <h4>Сотрудничество</h4>
                        <p>
                            Сотрудничество с сайтом. Если вы предприниматель и хотите дать свою недвижимость в ипотеку или в кредит, то вы можете оставить заявку на сотрудничество
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 service-top1">
                    <div class=" ser-grid">
                        <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-leaf"> </a>
                    </div>
                    <div class="ser-top">
                        <h4>Купить продать</h4>
                        <p>
                            Каждый человек на сайте может публиковать свой дом на сайте, либо искать и купить. Эти услуги на сайте абсолютно бесплатно
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="services-grid">
                <div class="col-md-6 service-top1">
                    <div class=" ser-grid">
                        <a  asp-controller="WrentHouses" asp-action="Contact" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"> </a>
                    </div>
                    <div class="ser-top">
                        <h4>Оставить отзыв</h4>
                        <p>
                           Пользователи сможет оставить отзыв либо предложение для сайта. Каждый отзыв и предложение для нас очень важно и играет большую роль для продвежение сайта
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 service-top1">
                    <div class=" ser-grid">
                        <a asp-controller="WrentHouses" asp-action="Contact" class="hi-icon hi-icon-archive glyphicon glyphicon-file"> </a>
                    </div>
                    <div class="ser-top">
                        <h4>Подать заявку на кредит</h4>
                        <p>
                            Также у клиентов есть возможность подать заявку на кредит, ипотеку. Это большая возможность для тех кому удобно
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//services-->
    <!--features-->
    <div class="content-middle">
        <div class="container">
            <div class="mid-content">
                <h3>ЛУЧШИЕ ОСОБЕННОСТИ</h3>
                <p>
                    Простота – клиент не должен тратить много времени на поиски нужной информации, иначе он просто закроет страницу и найдет другой ресурс;
                    Информативность – чем больше сведений сможет получить клиент одномоментно, тем больше шансов, что результат поиска его удовлетворит;
                </p>
            </div>
        </div>
    </div>
    <!--//features-->
    <!--test-->
    <div class="content-bottom">
        <div class="container">
            <h3>Отзывы</h3>
            <div class="col-md-6 name-in">
                <div class=" bottom-in">
                    <p class="para-in">
                        Искала квартиру для командировке, в другом городе. Зашла на "MyHouse.kz" и все... Заходите, хороший сайт... Можно подобрать по вкусу, цене и всем вашим запросам хорошее жилье...
                    </p>
                    <i class="dolor"> </i>
                    <div class="men-grid">
                        <a href="#" class="men-top"><img class="img-responsive men-top" src="~/images/te.jpg" alt=""></a>
                        <div class="men">
                            <span>Максим Анатольевич</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class=" bottom-in">
                    <p class="para-in">
                        Сайт информативен, но часто по обьявлением не понятно это суточная аренда или же цена выставлена за месяц
                    </p>
                    <i class="dolor"> </i>
                    <div class="men-grid">
                        <a href="#" class="men-top"><img class="img-responsive " src="~/images/te2.jpg" alt=""></a>
                        <div class="men">
                            <span>Марлен Аскарович</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  name-on">
                <div class="bottom-in ">
                    <p class="para-in">
                        Большой выбор квартир (апартаментов) как от хояев, так и от агентств. Удобные фильтры для отбора. Всем советую
                    </p>
                    <i class="dolor"> </i>
                    <div class="men-grid">
                        <a href="#" class="men-top"><img class="img-responsive " src="~/images/te1.jpg" alt=""></a>
                        <div class="men">
                            <span>Жанбота Омашева</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//test-->
    <!--partners-->
    <div class="content-bottom1">
        <h3>Наши партнеры</h3>
        <div class="container">
            <ul>
                <li><a href="#"><img class="img-responsive" src="~/images/lg.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/lg1.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/lg2.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/lg3.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/agent6.png" alt=""></a></li>
                <div class="clearfix"> </div>
            </ul>
            <ul>
                <li><a href="#"><img class="img-responsive" src="~/images/agent1.png" alt=""  style="height: 40px; width:100px"></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/agent2.png" alt=""  style="height: 40px; width:100px"></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/agent3.png" alt=""  style="height: 40px; width:100px"></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/agent7.png" alt="" style="height: 40px; width:100px"></a></li>
                <li><a href="#"><img class="img-responsive" src="~/images/agent5.png" alt=""></a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
    <!--//partners-->
</div>