
<div class=" banner-buying">
    <div class=" container">
        <h3><span>Ter</span>ms</h3>
        <!---->
        <div class="menu-right">
            <ul class="menu">
                <li class="item1">
                    <a href="#"> Меню<i class="glyphicon glyphicon-menu-down"> </i> </a>
                    <ul class="cute">
                        <li class="subitem1"><a asp-controller="SaleHouses" asp-action="Index">Продажа </a></li>
                        <li class="subitem2"><a asp-controller="RentHouses" asp-action="Index">Аренда </a></li>
                        <li class="subitem2"><a asp-controller="CreditHouses" asp-action="Index">Жилищный кредит</a></li>
                        <li class="subitem3"><a asp-controller="SaleHouses" asp-action="Index">Квартиры </a></li>
                        <li class="subitem3"><a href="dealers.html">Агентство</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!--initiate accordion-->
        <script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });

			});
        </script>

    </div>
</div>
<!--//header-->
<!--contact-->
<div class="terms">
    <div class="container">
        <h3>Terms & Conditions</h3>
        <h4>Introduction</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h4>Personal Information</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
        <h4>Gernal Information</h4>
        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains</p>
        <ul class="terms-start">
            <li><a href="#"><i></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>
            <li><a href="#"><i></i>There are many variations of passages of Lorem Ipsum available.</a></li>
            <li><a href="#"><i></i>It is a long established fact that a reader will be distracted.</a></li>
            <li><a href="#"><i></i>Lorem Ipsum is simply dummy text of the printing.</a></li>
            <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
            <li><a href="#"><i></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>
            <li><a href="#"><i></i>There are many variations of passages of Lorem Ipsum available.</a></li>
            <li><a href="#"><i></i>It is a long established fact that a reader will be distracted.</a></li>
            <li><a href="#"><i></i>Lorem Ipsum is simply dummy text of the printing.</a></li>
            <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
            <li><a href="#"><i></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</a></li>
            <li><a href="#"><i></i>There are many variations of passages of Lorem Ipsum available.</a></li>
            <li><a href="#"><i></i>It is a long established fact that a reader will be distracted.</a></li>
            <li><a href="#"><i></i>Lorem Ipsum is simply dummy text of the printing.</a></li>
            <li><a href="#"><i></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</a></li>
        </ul>
    </div>
</div>
<!--//contact-->