
<h2>Подать объявление</h2>
<hr />
<a class="btnt third" asp-area="" asp-controller="SaleHouses" asp-action="Create" style="width:200px">Продажа</a>
<a class="btnt third" asp-area="" asp-controller="RentHouses" asp-action="Create" style="width:250px">Сдать в аренду</a>



<style>
    .btnt {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color:black;
    }

        .btnt:hover, .btnt:focus {
            color: black;
            outline: 0;
            text-decoration: none;
        }
    .third {
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }

        .third:hover {
            box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
        }

</style>